body{
    background-color: #ffa6a6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: 	#5c004a;
    text-align: center;
}
h3{
    margin-bottom: 20px;
}
#game{
    display: grid;
    grid-template-columns: repeat(3, 80px);
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#start{
    background-color: #ffea58;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
    padding: 8px;
    color: #5c004a;
    margin-bottom: 40px;
    font-weight: bold;
}
#start:hover{
    background-color: #c4aa03 ;
}

.box{
    height: 80px;
    width: 80px;
    border-radius: 30px;
    border: none;
    background-color: #8f0057;
}

.box:hover{
    background-color: #5c004a;
}

#winner{
    margin-top: 40px;
}

#restart{
    background-color: #ffea58;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
    padding: 8px;
    color: #5c004a;
    font-weight: bold;
}

#restart:hover{
    background-color: #c4aa03 ;
}




